<header>
    <ul class="header-content">
            <li class="icon-left">
            <svg width="216" height="20" class="">
                <use href="../image/header/sprite.svg#icon-logo-1"></use>
            </svg>
        </li>
        <li class="menu">
            <a href="#how-it-works" class="menu-text">How It Works</a>
            <a href="#vegetables" class="menu-text">Vegetables</a>
            <a href="#reviews" class="menu-text">Reviews</a>
        </li>
        <li class="menu-button">
            <a href="#shopNow">
                <button type="button" class="button-text">shop now</button>
            </a>
         </li>
    </ul>
</header>