<section id="how-it-works">
  <picture>
    <source
      media="(min-width: 1158px)"
      srcset="
        ./image/how-it-works/imagehiw-desk@1x.jpg 1x,
        ./image/how-it-works/imagehiw-desk@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./image/how-it-works/imagehiw-tab@1x.jpg 1x,
        ./image/how-it-works/imagehiw-tab@2x.jpg 2x
      "
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ./image/how-it-works/imagehiw-mob@1x.jpg 1x,
        ./image/how-it-works/imagehiw-mob@2x.jpg 2x
      "
    />
    <img
      src="./image/how-it-works/imagehiw-mob@1x.jpg"
      alt="image how it works"
      width="640"
      height="640"
      class="how-it-works-image"
    />
  </picture>
  <h2 class="how-it-works-title">
    To order your vegetable basket, simply follow these easy steps
  </h2>
  <p class="how-it-works-text">
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
  </p>
  <ul class="how-it-works-list">
    <li class="how-it-works-item">
      Just choose the vegetable you want to order by clicking on the checkboxes
      next to it.
    </li>
    <li class="how-it-works-item">
      Click on the basket and fill out the form.
    </li>
    <li class="how-it-works-item">
      Sit back and relax! Your fresh vegetables basket will be delivered.
    </li>
  </ul>
</section>
