.advertisement-section {
    background-color: #FBFBFB;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    .advertisement-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .advertisement-section {
        padding-top: 96px;
        padding-bottom: 100px;
    }
}

.advertisement-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .advertisement-text {
        font-size: 64px;
        line-height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .advertisement-text {
        padding-bottom: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .advertisement-text {
        font-size: 76px;
        padding-left: 16px;
    }
}

.advertisement-accent {
    color: white;
    border-radius: 12px;
    background-color: #576F35;
    max-width: 335px;
    height: 102px;
    display: block;
}

@media only screen and (min-width: 768px) {
    .advertisement-accent {
        max-width: 100%;
        width: 675px;
        height: 86px;
        font-size: 64px;
        line-height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .advertisement-accent {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .advertisement-accent {
        font-size: 76px;
        width: 808px;
        height: 84px;
        display: inline-flex;
        align-items: center;
        margin-left: -16px;
        justify-content: flex-end;
    }
}