.hero-section {
  font-family: 'Inter Tight', sans-serif;
  background-color: #576f35;
  min-width: 320px;
  max-width: 375px;

  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 412px;

  background-image: url(../img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
}

.hero-title {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  min-width: 320px;
  max-width: 335px;
  margin-bottom: 20px;
}
.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
  min-width: 320px;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    min-width: 768px;
    margin-bottom: 24px;
    padding-top: 120px;
    padding-bottom: 588px;

    background-image: url(../img/hero/hero-tab.jpg);
  }

  .hero-title {
    max-width: 704px;
    font-size: 76px;
  }

  .hero-descr {
    max-width: 603px;
    font-size: 16px;
    line-height: 125%;
  }
}
