.hero-section {
  font-family: 'Inter Tight', sans-serif;
  background-color: #576f35;
  min-width: 320px;
  max-width: 375px;

  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 412px;

  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/retina/hero-mob@2x.jpg);
    background-size: contain;
  }
}

.hero-title {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  min-width: 320px;
  max-width: 335px;
  margin-bottom: 20px;
}
.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
  min-width: 320px;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    min-width: 768px;

    padding-top: 120px;
    padding-bottom: 588px;

    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-tab.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/retina/hero-tab@2x.jpg);
      background-size: contain;
    }
  }

  .hero-title {
    max-width: 704px;
    font-size: 76px;

    margin-bottom: 24px;
  }

  .hero-descr {
    max-width: 603px;
    font-size: 16px;
    line-height: 125%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 60px;
  }

  .hero-section {
    min-width: 1280px;
    padding-top: 232px;
    padding-bottom: 52px;

    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-desk.jpg);
    background-position: right top;
    background-size: contain;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/retina/hero-desk@2x.jpg);
      background-size: contain;
    }
  }

  .hero-title {
    margin-bottom: 128px;
    width: 502px;
  }

  .hero-descr {
    width: 472px;
  }
}
